<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/register/style.css">
        <script src="/static/register/script.js"></script> 
    </head>
    <body>
        <h2> {{ msg }}</h2>
        <div class="form-modal">
            <div class="form-toggle">
                <button id="login-toggle" onclick="toggleLogin()">log in</button>
                <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
                <div id="login-signup-button-cover"></div>
            </div>
            <div id="login-form">
                <form method="POST">
                    <input name="email" type="email" placeholder="Enter email" required autocomplete="email"/>
                    <input name="password" type="password" placeholder="Enter password" required autocomplete="current-password"/>
                    <input name="login" style="display: none;">
                    <button type="submit" class="btn login">login</button>
               </form>
            </div>
            <div id="signup-form">
                <form method="POST">
                    <input name="name" type="text" placeholder="Choose username" required autocomplete="name"/>
                    <input name="email" type="email" placeholder="Enter your email" required autocomplete="email"/>
                    <input name="password" type="password" placeholder="Create password" required autocomplete="new-password"/>
                    <button type="submit" class="btn signup">create account</button>
                </form>
            </div>
        </div>
    </body>
</html>