<!DOCTYPE html>

<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <head>
        <style>
            #createPost {
                display: none;
            }
            .post {
                width: calc((100% / 3) * 1.618);
            }
            .post img:first-child
            .post img:seco
        </style>
    </head>
    <body>
        <h2>{{ msg }}</h2>
        <button onclick="postPopup()">Create New Post</button>
        <div id="createPost">
            <form action="" method="POST" enctype="multipart/form-data">
                <div>
                    <input name="text" type="text">
                </div>
                <div>
                    <input name="file" type="file" multiple>
                </div>
                <input type="text" name="createpost" style="display: none;">
                <button type="submit" id="createPostSubmit">Create Post</button>
            </form>
        </div>
        <center>
            <div id="PostSection">

            </div>
        </center>
        <script>
            function postPopup() {
                const postpopup = document.querySelector("#createPost");
                postpopup.style.display = "block";
            }
            document.querySelector("#createPostSubmit").addEventListener("click", () => {
                const postpopup = document.querySelector("#createPost");
                postpopup.style.display = "none";
            })
            function AddPosts() {
                fetch("/getPosts")
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data["status"] == "success") {
                            let posts = data["posts"];
                            let final = [];
                            posts.forEach(post => {
                                let text = post[0];
                                let images = post[1];
                                let htmlPost = "<div class='post'><h3>"+text+"</h3><div class='postImages'>"+images+"</div></div>";
                                final.push(htmlPost);
                            });
                            document.querySelector("#PostSection").innerHTML += final.join("");
                        }
                    });
            }
            document.addEventListener("DOMContentLoaded",() => {
                AddPosts();
            })
        </script>
    </body>
</html>